<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>The Baul</title>
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="shortcut icon" href="img/Icono.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <nav>
            <a href="catalogo.html">El Baul Médico</a>
        </nav>
        <section class="textos-header">
            <h1>Bienvenido a El Baul Médico</h1>
        </section>
        <div class="Ola" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C213.88,125.62 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
    </header>

    <div id="app" class="row2">
        <h2>Nombre</h2>
        <input class="form-field1" type="text" v-model="newC" />
        <h2>Mensaje</h2>
        <textarea class="form-field2"  type="text" v-model="com" name="comentarios" rows="10" cols="40">Escribe aquí tus comentarios</textarea>
        <h2> </h2>
        <button class="boton" v-on:click="crear">Enviar</button>
        
        <div style="background-color:#d6d6d6;" class="comentario">
        <h2>Seccion de Comentarios</h2>
        <ul >
            <li v-for="p in comentario" class="c1">{{p.nom}} dijo : </p> {{p.com}}</li>
        </ul>
        </div>
        <!--<h2>Total a pagar:{{total}}</h2> -->
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                total: 0,
                comentario: []
                
            },
            methods: {
                crear: function () {
                    this.comentario.push({
                        nom: this.newC,
                        com: this.com
                    });
                    //this.total +=  parseInt(this.pre);
                    this.newC = '';
                    this.com = '';
                }
            }  
        })
    </script>
    <h6></h6>
</body>
<footer>
    <div class="contenedor-footer">
       <div class="content-foo">
          <h4>Telefono</h4>
          <p>3153538147</p>
       </div>
       <div class="content-foo">
          <h4>Email</h4>
          <p>thebaulmedico@correo.com</p>
       </div>
    </div>
    <h2 class="titulo-final">&copy; XD </h2>
 </footer>

</html>






