<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        Nombre Producto: <input type="text" v-model="newP" />
        Precio Producto: <input type="text" v-model="pre" />
        <button v-on:click="crear">Aceptar</button>

        <p>Productos ofrecidos</p>
        <ul>
            <li v-for="p in producto">{{p.nom}} ${{p.pre}}</li>
        </ul>
        <h2>Total a pagar:{{total}}</h2>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                total: 0,
                producto: []
                
            },
            methods: {
                crear: function () {
                    this.producto.push({
                        nom: this.newP,
                        pre: this.pre
                    });
                    this.total +=  parseInt(this.pre);
                    this.newP = '';
                    this.pre = '';
                }
            }
        })
    </script>
</body>

</html>






